<h3>Topics</h3>
<hr/>
<div *ngFor="let topic of topics">
  <div class="card mb-3" >
    <div class="card-header text-left">
      <button class="btn btn-danger clearfix " (click)="deleteTopic(topic.id)">x</button>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../../assets/images/topic.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{topic.name}}</h5>
        </div>
      </div>
    </div>
    <div *ngIf="!isSurveyCreation">
      <a [routerLink]="['/topics', topic.id]" class="btn btn-primary">Open</a>
    </div>
    <div *ngIf="isSurveyCreation">
      <a [routerLink]="['/new/topics', topic.id]" class="btn btn-primary">Open</a>
    </div>

  </div>
</div>
<button class="btn btn-primary" (click)="createTopic()">Create topic</button>

