<p>survey-question-tab works</p>
<div *ngIf="survey">
  <form [formGroup]="surveyFormGroup" (ngSubmit)="onSubmit()">
    <div formArrayName="questions">
      <div class="form-group"
           *ngFor="let question of surveyFormGroup.get('questions').controls; let questionIndex = index"
           [formGroupName]="questionIndex">
        <div class="border border-info rounded col-md-11">
          <p>{{questionIndex+1}}. {{question.controls['questionName'].value}}</p>
          <div formArrayName="answers">
            <div *ngIf="question.controls['questionType'].value.toString()==='single-choice'">
              <div *ngFor="let answer of survey.questions[questionIndex].answers; let answerIndex = index">
                <div class="row">
                  <div class="col-md-1">
                    <input type="radio" [formControl]="question.get('answers').controls[0]"
                           [value]="survey.questions[questionIndex].answers[answerIndex]"
                           [name]="questionIndex"/>
                  </div>
                  <div class="col-md-11">
                    <p>{{survey.questions[questionIndex].answers[answerIndex].name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="question.controls['questionType'].value.toString()==='multiple-choice'">
              <div *ngFor="let answer of question.get('answers').controls; let answerIndex = index">
                <div class="row">
                  <div class="col-md-1">
                    <input type="checkbox" [formControl]="answer"/>
                  </div>
                  <div class="col-md-11">
                    <p>{{survey.questions[questionIndex].answers[answerIndex].name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>


</div>
