<div *ngIf="topic!=null">
  <h3>{{topic.name}}</h3>

  <div *ngFor="let question of topic.questions;  let i = index" class="row">
    <div class="border border-info rounded col-md-11">
      <h5>{{i+1}}. {{question.name}}</h5>
      <div *ngFor="let answer of question.answers">
        <ul class="list-inline">
          <li *ngIf="question.qType=='single-choice'" class="list-inline-item">
            <img src="../../../assets/images/radioIcon2.png" alt="radio">
          </li>
          <li *ngIf="question.qType=='multiple-choice'" class="list-inline-item">
            <img src="../../../assets/images/checkBoxIcon2.png" alt="checkbox">
          </li>
          <li class="list-inline-item">
            {{answer.name}}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isSurveyCreation" class="col-md-1">
      <input class="form-control" type="checkbox" [(ngModel)]="selectedIndexes[i]"/>
    </div>
  </div>
  <button *ngIf="isSurveyCreation" class="btn btn-primary" [disabled]="noSelectedIndexes()" (click)="addToNewSurvey()">Add to topic</button>
</div>
