<form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col form-group">
      <label for="user-first-name">First name</label>
      <input class="form-control" id="user-first-name" [formControlName]="'firstName'" [ngClass]="{ 'is-invalid': submitted && firstName.errors }"/>
      <div *ngIf="firstName.invalid && (submitted)"
           class="invalid-feedback">
        <div *ngIf="firstName.errors.required">
          Please fill this field.
        </div>
      </div>
    </div>
    <div class="col form-group">
      <label for="user-last-name">Last name</label>
      <input class="form-control" id="user-last-name" [formControlName]="'lastName'" [ngClass]="{ 'is-invalid': submitted && lastName.errors }"/>
      <div *ngIf="lastName.invalid && (submitted)"
           class="invalid-feedback">
        <div *ngIf="lastName.errors.required">
          Please fill this field.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col form-group">
      <label for="user-name">Username</label>
      <input class="form-control" id="user-name" [formControlName]="'userName'" [ngClass]="{ 'is-invalid': submitted && userName.errors }"/>
      <div *ngIf="userName.invalid && (submitted)"
           class="invalid-feedback">
        <div *ngIf="userName.errors.required">
          Please fill this field.
        </div>
      </div>
    </div>
    <div class="col form-group">
      <label for="user-gender">Gender</label>
      <select class="form-control custom-select" [formControl]="signUpFormGroup.controls['gender']" id="user-gender" (change)="pickGender($event)"
              [ngClass]="{'is-invalid': submitted && signUpFormGroup.controls['gender'].errors }">
        <option value="">Choose...</option>
        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
      </select>
      <div *ngIf="submitted && userGender.errors?.required" class="invalid-feedback">
          Please fill this field.
      </div>
    </div>
  </div>
 <div class="form-group">
    <label for="user-email">Email</label>
    <input class="form-control" id="user-email" [formControlName]="'email'" [ngClass]="{ 'is-invalid': submitted && email.errors }"/>
    <div *ngIf="email.invalid && (submitted)"
         class="invalid-feedback">
      <div *ngIf="email.errors.required">
        Please fill this field.
      </div>
      <div *ngIf="email.errors.email">
        Email is incorrect
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="user-password">Password:</label>
    <input type="password" class="form-control" id="user-password" [formControlName]="'password'" [ngClass]="{ 'is-invalid': submitted && password.errors }"/>
    <div *ngIf="password.invalid && (submitted)"
         class="invalid-feedback">
      <div *ngIf="password.errors.required">
        Please fill this field.
      </div>
      <div *ngIf="password.errors.minLength">
        Must be at least 6 characters
      </div>
    </div>
  </div>
 <div class="form-group">
    <label for="user-password-repeat">Repeat password:</label>
    <input type="password" class="form-control" id="user-password-repeat" [formControlName]="'repeatPassword'" [ngClass]="{ 'is-invalid': submitted && repeatPassword.errors }"/>
    <div *ngIf="repeatPassword.invalid && (submitted)"
         class="invalid-feedback">
      <div *ngIf="repeatPassword.errors.required">
        Please fill this field.
      </div>
      <div *ngIf="repeatPassword.errors.minLength">
        Must be at least 6 characters
      </div>
      <div *ngIf="repeatPassword.errors.NoPasswordMatch">
        Passwords don't match
      </div>
    </div>
  </div>
  <div class="form-group">
    <ul class="list-inline">
      <li class="list-inline-item">
        <button class="btn btn-dark">Cancel</button>
      </li>
      <li class="list-inline-item">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </li>
    </ul>
  </div>
</form>
