<div class="container-fluid">
  <h3>Welcome to surveys!</h3>
  <hr>
  <p>You've reached a perfect platform for sharing your thoughts to the world and exploring ideas from
    others.</p>
  <p> Want to participate in gaining opinion statistics?
    <a href="" (click)="goToExploreSection()">Explore surveys</a> that already
    were created by users.</p>
  <p>Want to create your own survey? <a href="" (click)="goToLogin()">Log in</a> if
    you already have an account,
    or simply <a href="" (click)="goToRegister()">sign up</a> otherwise.</p>
</div>
