<h3>{{currentSurveysSection}}</h3>
<hr/>
<div class="row">
  <div *ngFor="let survey of surveys" class="col">
    <div class="card">
      <div class="card-header text-right">
        <button class="btn btn-danger clearfix " (click)="deleteSurvey(survey.id)">x</button>
      </div>
      <img class="card-img-top" src="../../../assets/images/mySurvey.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Survey {{survey.id + 1}}</h4>
        <p class="card-text">{{survey.name}}</p>
        <p class="card-text">{{survey.description}}</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <img class="calendar-img" src="../../../assets/images/calendar.png" alt="calendar">
          </li>
          <li class="list-inline-item">
            till {{survey.elapseDate}}
          </li>
        </ul>
        <p class="card-text" *ngIf="survey.authorLogin != null ">Author: {{survey.authorLogin}}</p>
        <a [routerLink]="['/surveys/'+survey.id+'/questions']" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>
</div>

