
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/surveys'"><img src="../../../assets/images/surveysLogo.png"></a>
    <ul class="nav navbar-nav">
      <li *ngIf="loggedUser == null" class="navbar-item">
        <a class="nav-link" [routerLink] = "'/login'"  >Log in</a> <!--openLoginModal() -->
      </li>
      <li *ngIf="loggedUser == null" class="navbar-item">
        <a class="nav-link" [routerLink]= "'/register'" >Sign up</a>
      </li>
      <li>
        <app-dropdown-menu></app-dropdown-menu>
      </li>
    </ul>
  </div>
</nav>
