
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/explore'"><img src="../../../assets/images/surveysLogo.png"></a>
    <ul class="nav navbar-nav">
      <li  class="navbar-item"> <!--*ngIf="loggedUser == null"-->
        <a class="nav-link" [routerLink] = "'/login'"  >Log in</a> <!--openLoginModal() -->
      </li>
      <li  class="navbar-item"><!--*ngIf="loggedUser == null"-->
        <a class="nav-link" [routerLink]= "'/register'" >Sign up</a>
      </li>
      <li>
        <app-dropdown-menu></app-dropdown-menu>
      </li>
    </ul>
  </div>
</nav>
