<form [formGroup]="itemFormGroup">
  <div class="form-group">
    <input class="form-control" formControlName="itemName" placeholder="Enter {{itemType | lowercase}} name"
           [ngClass]="{ 'is-invalid': submitted && itemName.errors }"/>
    <div *ngIf="submitted && itemName.errors" class="invalid-feedback">
      <div *ngIf="itemName.errors.required">{{itemType}} name is required</div>
    </div>
  </div>
  <div *ngIf="isSurveyItem()" class="form-group">
    <textarea class="form-control text-md" formControlName="itemDescription"
              placeholder="Enter brief description"></textarea>
  </div>
  <hr/>
  <div *ngIf="isSurveyItem()" class="form-group">
    <input class="form-control" formControlName="elapseDate" placeholder="Enter elapse date"
           [ngClass]="{ 'is-invalid': submitted && elapseDate.errors}"/>
    <div *ngIf="submitted && elapseDate.errors" class="invalid-feedback">
      <div *ngIf="elapseDate.errors.required">
        Elapse date is required
      </div>
      <div *ngIf="elapseDate.errors.pattern">
        Date must be in format: dd.MM.yyyy
      </div>
    </div>
  </div>
  <div formArrayName="questions">
    <div class="form-group" *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
      <div class="row">
        <div class="col-md-9">
          <input class="form-control" [formControl]="question.controls['questionName']"
                 [ngClass]="{ 'is-invalid': submitted && question.controls['questionName'].errors }"
                 placeholder="Question name">
          <div *ngIf="submitted && question.controls['questionName'].errors" class="invalid-feedback">
            <div *ngIf="question.controls['questionName'].errors.required">Question is required</div>
          </div>
        </div>
        <div class="col-md-2"> <!--ngbDropdown=""-->
          <select class="form-control custom-select" [formControl]="question.controls['questionType']"
                  (change)="pickAnswerType($event, question)"
                  [ngClass]="{'is-invalid': submitted && question.controls['questionType'].errors }">>
            <option value="">Choose...</option>
            <option *ngFor="let q of questionTypes" [ngValue]="q">
              {{q}}
            </option>
          </select>
          <div *ngIf="submitted && question.controls['questionType'].errors?.required" class="invalid-feedback">
            Select question type
          </div>
        </div>
        <div class="com-md-1">
          <button class="btn btn-danger" type="button" (click)="deleteQuestion(i)"> x</button>
        </div>
      </div>
      <br>
      <div formArrayName="answers">
        <div class="form-group" *ngFor="let answer of question.get('answers').controls; let answerIndex = index"
             [formGroupName]="answerIndex">
          <div *ngIf="question.controls['questionType'].value.toString()==='single-choice'">
            <div class="row">
              <div class="col-md-10">
                <input class="form-control" [formControl]="answer.controls['answerName']"
                       [ngClass]="{ 'is-invalid': submitted && answer.controls['answerName'].errors }"
                       placeholder="Radio-answer text"/>
                <div *ngIf="submitted && answer.controls['answerName'].errors" class="invalid-feedback">
                  <div *ngIf="answer.controls['answerName'].errors.required">Answer is required</div>
                </div>
              </div>
              <button class="col-md-1 btn btn-danger" (click)="deleteAnswer(question, answerIndex)"> x</button>
            </div>
            <div *ngIf="answerIndex==question.get('answers').controls.length-1" class="clearfix text-left">
              <button class="btn btn-info"
                      (click)="addAnswer(question)"> +
              </button>
            </div>
          </div>
          <div *ngIf="question.controls['questionType'].value.toString()==='multiple-choice'">
            <div class="row">
              <div class="col-md-11">
                <input class="form-control" [formControl]="answer.controls['answerName']"
                       [ngClass]="{ 'is-invalid': submitted && answer.controls['answerName'].errors }"
                       placeholder="Checkbox-answer text"/>
                <div *ngIf="submitted && answer.controls['answerName'].errors" class="invalid-feedback">
                  <div *ngIf="answer.controls['answerName'].errors.required">Answer is required</div>
                </div>
              </div>
              <button class="col-md-1 btn btn-danger btn-block" type="button" (click)="deleteAnswer(question, answerIndex)"> x</button>
            </div>
            <div *ngIf="answerIndex==question.get('answers').controls.length-1" class="clearfix text-left">
              <button class="btn btn-info"
                      (click)="addAnswer(question)"> +
              </button>
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="i == questions.length-1" class="clearfix text-right">
        <button class="btn btn-info" type="button" (click)="addQuestion();">Add question</button>
      </div>
    </div>
  </div>

  <ul class="list-inline">
    <li class="list-inline-item">
      <button class="btn btn-dark" (click)="cancelCreation()">Cancel</button>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-primary" type="submit" (click)="saveAsDraft()">Save as a draft</button>
    </li>
    <li  class="list-inline-item">
      <button class="btn btn-primary" type="button" [routerLink]="'topics'">Add from topic</button>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-primary" type="submit" (click)="createSurvey()">Create</button>
    </li>
  </ul>
</form>

